.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    border: solid;
    border-radius: 0.5em;
    border-color: #A9B3CE;
    position: relative;
    color: black;
    background-color: #9E788F;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.1em;
}

.commentDate {
    font-size: 0.75em;
    color: black;
    margin: 0;
    position: absolute;
    top: 0.1em;
    right: 0.5em;
}

@media only screen and (max-width: 500px) {
    .comment {
        font-size: 0.9em;
    }
}