form {
    text-align: center;
}

.addPost-text {
    width: 20em;
    height: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 1em;
}

.addPostTitle-text {
    width: 20em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}