section {
    text-align: center;
}

@media only screen and (max-width: 950px) {
    p {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 450px) {
    p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 395px) {
    p {
        font-size: 0.9em;
    }
}