.App {
  text-align: center;
}

.App_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dailyTopic {
  font-size: 2.75em;
  color: black;
  font-family: 'Poppins', sans-serif;
}